anaconda==0.0.1.1
anytree==2.8.0
apple-calendar-integration==0.0.1
bcrypt==3.1.6
beautifulsoup4==4.7.1
bleach==3.3.0
blinker==1.4
Bootstrap-Flask==1.0.10
boto3==1.11.13
botocore==1.14.13
bs4==0.0.1
bullet==2.1.0
certifi==2019.3.9
cffi==1.12.2
chainmap==1.0.3
chardet==3.0.4
Click==7.0
cliff==2.18.0
cmd2==0.8.9
colorama==0.4.3
combomethod==1.0.12
configobj==5.0.6
configparser==4.0.2
cycler==0.10.0
DateTime==4.3
docutils==0.15.2
dominate==2.3.5
fanstatic==1.1
filelock==3.0.12
Flask==1.1.1
Flask-Admin==1.5.4
Flask-Bcrypt==0.7.1
Flask-Bleach==0.0.2
Flask-Blogging==1.2.2
flask-blueprint==1.3.0
Flask-Bootstrap==3.3.7.1
Flask-Bootstrap4==4.0.2
Flask-Caching==1.8.0
Flask-Ext==0.1
Flask-FileUpload==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.10.1
Flask-MySQLdb==0.2.0
Flask-PageDown==0.2.2
Flask-Principal==0.4.0
flask-redis==0.4.0
Flask-Sijax==0.4.1
Flask-SQLAlchemy==2.4.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
Flask-WTF-Ext==0.2
fontlib==20190831.1
fspath==20190323
future==0.17.1
generate-passwords==0.1.3
gnupg==2.3.1
html5lib==1.0.1
humanfriendly==6.0
idna==2.8
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
js.fullcalendar==2.9.1
js.jquery==3.3.1
js.momentjs==2.13.1
jsonify==0.5
jsonpickle==1.2
kiwisolver==1.0.1
lxml==4.3.3
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.2.2
marshmallow-sqlalchemy==0.20.0
matplotlib==3.0.3
mysql==0.0.2
mysql-client==0.0.1
mysql-connector==2.2.9
mysqlclient==1.4.2.post1
nulltype==2.3.1
numpy==1.16.2
options==1.4.10
packaging==20.1
pandas==0.24.2
pbr==5.4.4
peewee==3.9.2
pexpect==4.8.0
Pillow==6.2.1
pluggy==0.13.1
prettytable==0.7.2
property-manager==2.3.1
psutil==5.6.7
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.8.1
pycparser==2.19
pyflakes==2.1.1
Pygments==2.5.2
pyparsing==2.3.1
pyperclip==1.7.0
pyreadline==2.1
python-dateutil==2.8.0
python-secrets==19.12.0
python-slugify==3.0.6
pytz==2018.9
PyYAML==5.3
qmath==0.3.0
redis==3.3.11
requests==2.22.0
s3transfer==0.3.3
scikit-learn==0.20.3
scipy==1.2.1
scrapy-beautifulsoup==0.0.2
selenium==3.141.0
shortuuid==0.5.0
shutilwhich==1.1.0
Sijax==0.3.2
simple-math==1.1.0
simplemath==1.0
six==1.12.0
soupsieve==1.9.1
SQLAlchemy==1.3.11
stevedore==1.31.0
template-render==0.1.0
text-unidecode==1.3
tinycss2==1.0.2
toml==0.10.0
tox==3.14.3
urllib3==1.25.2
verboselogs==1.7
virtualenv==16.7.9
visitor==0.1.3
webencodings==0.5.1
WebOb==1.8.5
Werkzeug==0.16.0
WTForms==2.2.1
WTForms-Appengine==0.1
WTForms-Ext==0.2
WTFormValidation==1.0.0
xkcdpass==1.17.3
xlrd==1.2.0
xlrdinc==1.2.0.4
yamlreader==3.0.4
zipp==2.2.0
zope.interface==4.6.0

